*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.head{
    width: 100%;
    height: 72vh;
    background-color: #fddc01;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 9%;
    padding-right: 10%;
}

nav ul li{
    display: inline-block;
    list-style-type: none;
    padding: 10px 20px;
}

nav ul li a{
    color : black;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav ul li a:hover{
    color: #ef3a28;
    transition: .3s;
}

.auth_login img{
    margin-top: 4px;
}
.auth_login a{
    margin-top: 4px;
}
.auth ul li{
    display:inline-flex;
    align-items:center;
    justify-content:center;
    margin-right:auto;
}

.auth ul li button{
    border: none;
    background-color: #ee3425;
    padding: 8px 10px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 12px;
    transition: .4s;
}

.auth ul li button:hover{
    transform: scale(1.3);
    cursor: pointer;
}

.second-batch{
    display: inline-flex;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 25px;
    justify-content: center;
    justify-items: center;
}

.banner-image img{
    height: 500px;
    display:flex;
    flex-direction:column;
    width:100%;
    margin-bottom:-30px
}

.headings {
    display: flexbox;
    margin-left: 50px;
}

.headings h1{
    margin-top: 120px;
    font-size: 40px;
    font-weight: bold;
}

.headings p{
    margin-top: 18px;
    color: #647026;
}

.headings button{
    border: none;
    margin-top: 18px;
    background-color: #ee3425;
    padding: 10px 10px;
    border-radius: 10px;
    width: 140px;
    height: 35px;
    color: white;
    font-weight: bold;
    font-size: 14px;
    transition: .4s;
}

.second-parent-div{
    background-color: #fffef2;
    background-image: radial-gradient(120% 120px at -50% 30px, #fffef2 75%, transparent 75%);
}

.places-served {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    padding-left: 12%;
    padding-right: 12%;
    margin-top: 45px;
}

.countries{
    display: inline-block;
    align-items: center;
    justify-content: center;

}

.places-served h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ee3425;
    font-weight: bold;
    font-size: 38px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.places-served p{
    font-weight: bold;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.supply-chain{
    display: flex;
    margin-top: 120px;
    justify-content: center;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
}

.supply-chain-heading{
    margin-left: 2%;
    margin-right: 8%;

}
.supply-chain-heading h1{
    font-size: 40px;
    font-family: sans-serif;
}

.supply-chain-heading p{
    font-size: 17px;
    margin-top: 15px;
    font-family: 'Times New Roman', Times, serif;    
}
.map-supply img{
    width: 500px;
}
.products-head{
    justify-content: center;
    justify-items: center;
    display: flex;
}
.cross-border{
    margin-left: 10%;
    display: inline-flex;
    align-items:center;
    justify-content: center;
    margin-top: 2%;
}
.cross-border h1{
    width:300px;
    margin-right:50px;
    font-size:24px;
    color:#000;
    margin-left: 5%;
}

.cross-border-2{
    margin-left: 10%;
    display: inline-flex;
    align-items:center;
    justify-content: center;
    margin-top: 2%;
}
.cross-border-2 h1{
    width:300px;
    margin-right:50px;
    font-size:24px;
    color:#000;
    margin-left: 10%;
}


.cross-border-3{
    margin-left: 10%;
    display: inline-flex;
    align-items:center;
    justify-content: center;
    margin-top: 2%;
}
.cross-border-3 h1{
    width:300px;
    margin-right:50px;
    font-size:24px;
    color:#000;
    margin-left: 6%;
}


.cross-border-4{
    margin-left: 10%;
    display: inline-flex;
    align-items:center;
    justify-content: center;
    margin-top: 2%;
}
.cross-border-4 h1{
    width:300px;
    margin-right:50px;
    font-size:24px;
    color:#000;
    margin-left: 8%;
}

.cross-border-items{
    position:relative;
    display:flex;
    flex-direction:column;
    align-items:center;
    width:184px;
    height:160px;
    padding:10px 7px;
    margin:10px;
    background:#fff;
    border:1.5px solid transparent;
    border-radius:10px;
    box-shadow:0 1px 6px rgba(169,188,218,.65);
}

.cross-border-items a{
    text-decoration: none;
}

.cross-border-items:hover{
    border:1.5px solid #ee3425;
}
.cross-border-items img{
    margin: auto;
    display: block;
}
.cross-border-items h4{
    margin-top:5px;
    font-size:16px;
    line-height:1.3em;
    text-align:center;
    color: #000;
}

.find-out-more{
    display:flex;
    align-items:center;
    justify-content: center;
    margin-top: 26px;
    font-weight:700;
    color:#ee3425;
    cursor:pointer
}

.find-tag-span{
    font-size: 14px;

}


.tag-3{
    justify-content: center;
    justify-items: center;
    display: flex;
    margin-top: 48px;
}

.marque-images ul{
    margin-top: 10px;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    list-style-type: none;
}

.marque-images ul li img{
    width: 100px;
    height: 50px;
}

.next-level-supply{
    height: 125px;
    width: 100%;
    background-color: #fddc01;
    margin-top: 20px;
}

.heading-next{
    
    padding-left: 3%;
    padding-right: 3%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    justify-items: center;
    padding-top: 3%;
}

.heading-next button{
    width: 120px;
    height: 36px;
    border-radius: 5%;
    background-color: #ee3425;
    border: none;
    color: #fff;
    font-weight: bold;
}

.working{
    margin-top: 60px;
}

.working-heading-h1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    justify-items: center;
}

.working-heading{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.working-heading-titles-1{
    padding: 15px;
    margin: 2%;
    width: 200px;
    height: 40px;
    border-radius: 50px 50px 50px 50px;
    background-color: #fddc01;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    font-size: 14px;
}

.working-heading-titles-2{
    padding: 15px;
    margin: 2%;
    width: 200px;
    height: 40px;
    border-radius: 50px 50px 50px 50px;
    background-color: #e5dfdf;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    font-size: 14px;
}

.working-2{
    
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.steps-1-2{
    width:300px;
    padding:30px;
    border-radius:10px;
    box-shadow:0 1px 6px rgba(169,188,218,.65);
    margin-bottom:120px;
}

.steps-1-2 p{
    color: #ee3425;
    font-weight: 600;
    font-size: 16px;
}

.steps-1-2 ul{
    margin-top: 12px;
}

.steps-1-2 ul li{
    margin-top: 6px;
    font-size: 17px;
    
}

.steps-3-4 ul li{
    margin-top: 6px;
    font-size: 17px;
}

.steps-3-4{
    width:300px;
    padding:30px;
    border-radius:10px;
    box-shadow:0 1px 6px rgba(169,188,218,.65);
    margin-bottom:120px;
}

.steps-3-4 ul{
    margin-top: 12px;
}

.steps-3-4 p{
    color: #ee3425;
    font-weight: 600;
}

.computer-img img{
    width: 560px;
    height: 320px;
    justify-content: center;
    margin: 20px;
}

.tag1{
    display: flex;
    justify-content: start;
    justify-items: center;
    margin-top: 12px;
}

.tag1-child{
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
    font-weight: bold;
    font-size: 18px;
}

.industries-tags{
    background-color: #fffef3;
    padding: 20px;
}

.industries-tags-titles{
    display: flex;
    justify-content: center;
    justify-items: center;
}

.industries{
    margin-top: 36px;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    padding-left: 8%;
    padding-right: 8%;
}

.ind-1 img{
    width: 100px;
    height: 100px;
}

.ind-4 img{
    width: 100px;
    height: 100px;
}

.ind-5 img{
    width: 100px;
    height: 100px;
}


.ind-4{
    margin-top: 1px;
}

.ind-5{
    margin-top: 1px;
}

.get-started{
    display: flex;
    justify-content: space-around;
    justify-items: center;
    margin-top: 60px;
    margin-left: 10%;
    margin-right: 10%;
}

.get-started-tag{
    margin-top: 100px;
}

.get-started-p1{
    font-weight: 800;
    font-size: 45px;
}

.get-started-p2{
    font-weight: 10;
    font-size: 16px;
    margin-top: 16px;
}

.get-started-tag button{
    width: 140px;
    height: 40px;
    border-radius: 10px 10px 10px 10px;
    background-color: #ee3425;
    border: none;
    color: #fff;
    font-weight: bold;
    margin-top: 35px;
}

.get-started-image img{
    width: 280px;
    height: 320px;
}

/* .video-thumbnail img{
    height: 450px;
    width: 100%;
    margin-top: 90px;
    position: relative;
    z-index: 1;
}

.play-pause img{
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    background-color:rgba(0,0,0,.4);
    z-index: 2;
} */


.video-thumbnail img{
    position: relative;
    height: 450px;
    width: 100%;
    margin-top: 90px;
    margin-bottom: -5px;
}

  
.play-pause img{
    position: absolute;
    transform: translate(-50%, -50%);
    background-color:rgba(0,0,0,.4);
}

.grow-faster-2{
    display: flex;
    padding-left: 12%;
    padding-top: 38px;
    justify-items: center;
    padding-bottom: 40px;
    background-color: #ef3a28;
}
.grow-faster-2 h1{
    color: #e5dfdf;
}

.grow-faster-2 p{
    margin-left: 0px;
    color: #e5dfdf;
}

.grow-faster-2 button{
    margin-left: 50%;
    text-align: center;
    width: 120px;
    height: 34px;
    background-color: #fddc01;
    border: none;
    border-radius: 5px 5px 5px 5px;
}

.blogs-heading{
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-top: 45px;
}

.blogs-3{
    display: flex;
    justify-content: space-around;
    justify-items: center;
    padding-left: 15%;
    padding-right: 15%;
    margin-top: 30px;
}

.blogs-div{
    width:33%;
    margin-right:10px;
    margin-bottom:40px;
    margin-left:10px;
    overflow:hidden;
    text-align:start;
    cursor:pointer;
    border-radius:8px;
    box-shadow:0 3px 6px hsla(0,0%,79%,.5);
}

.blogs-div-img{
    display:block;width:100%;height:200px;background-color:#fbdc00;-o-object-fit:cover;object-fit:cover
}

.blogs-div h4{
    margin-top: 20px;
    margin-left: 16px;
}

.blogs-div h3,p{
    color: #000;
    margin-top: 14px;
    margin-left: 15px;
}

.blogs-read-arr{
    display: flex;
    justify-content: space-between;
    padding-left: 5px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.view-all{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.view-all button{
    width: 140px;
    height: 40px;
    border-radius: 10px 10px 10px 10px;
    background-color: #ee3425;
    border: none;
    color: #fff;
    font-weight: bold;
}

.subscribe{
    background-color: #fbdc00;
}

.subs-img-email{
    display: flex;
    justify-content: center;
    padding-top: 60px;
    margin-top: 80px;
}

.subs-email{
    margin-top: 5%;
    padding-left: 20px;

}

.subs-email-send input{
    height: 40px;
    width: 250px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px 0px 0px 5px;
    border: none;
}

.subs-email-send button{
    margin-left: -4px;
    height: 40px;
    width: 120px;
    margin-top: 1px;
    border-radius: 0px 5px 5px 0px;
    border: none;
    background-color: #ee3425;
    margin-top: 2%;
    color: #fff;
}

.img-subs-inside{
    margin-top: -3px;
}

.subs-part-2{
    display: flex;
    justify-content: space-around;

}

.subs-2-heading{
    display: block;
    justify-content: space-between;
    margin-top: 20px;

}

.subs-2-heading a{
    font-size: 12px;
    max-lines: 1;
}

.subs-2-heading div{
    margin-top: 8px;
    margin-bottom: 16px;
}

.subs-1-a{
    color: #000;
}

.subs-1-a u{
    font-size: 20px;
    font-weight: bold;
    color: #434343;
}

.subs-2-a{
    text-decoration: none;
    color: #000;
}

.last-part{
    background-color: #ebbe00;
    padding-top: 30px;
}

.last-parent{
    display: flex;
    justify-content: space-around;
}

.last-1 a{
    display: block;
    justify-content: space-between;
    margin-top: 10px;
    text-decoration: none;
    color: #000;
    margin-left: 22px;
    font-size: 16px;
}


.last-2{
    display: flex;
    justify-content: space-between;
    padding-left: 3.5%;
    padding-right: 3%;
    padding-bottom: 10px;
}

.last-2-1{
    display: flex;
}

.last-2-2{
    margin-top: 16px;
    display: flex;
    justify-content: end;
    padding-right: 0%;
    padding-bottom: 1px;
    padding-top: 5px;
}

.tnc{
    font-size: 14px;
}

.rights-last{
    color: #434343;
    font-size: 14px;
}

